table, td{
    border: 1px solid;
    min-width: 3vw;
    text-align: center;
}
.dashboard{
    display: flex;
    justify-content: space-evenly;
    margin: 8vh 0vw;
    text-align: center;
}
#results-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 4vh 0vw;
    padding-bottom: 4vh;
}

.score-card{
    display: flex;
    justify-content: space-evenly;
}

.results-toggle, #res-gen-encl, #man-match-encl{
    display: flex;
    justify-content: center;
    margin: 2vh 0px;
}

#new-match-id{
    max-width: 3vw;
}
